/* Reset and Global Styles 
* {
  border-style: solid;
  margin: 1px;
  box-sizing: border-box; 
}*/

/* Global*/
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  min-width: 97vw;
}

h1 {
  color: navy;
}

.nadpis {
  font-family: Helvetica;
  font-weight: lighter;
  color: #713875;
}


/* Form */
.hledani {
  display: flex;
  flex-direction: row;
  min-width: 40vw;
}

.hledani2 {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
}


form {
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  
}

input {
  min-width: 150px;
  font-size: 20px;
  
}

.tlacitko {
  background-color: #ccb37e;
  font-family: 'Lucida Grande';
  font-weight: bolder;
  color: #20150f;
  font-size: 26px;
  min-width: 50px;
}

/* Images */
img {
  width: auto;
  object-fit: cover; 
  max-height: 370px;
}

.img2 {
  border: 0;
  border-radius: 4px;
  padding: 5px;
  max-width: 20vw;
  height: 25vh;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
  max-height: 100px;
}

.img3 {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Containers */
.cont {
  display: flex;
  flex-direction: column;
  min-width: 97vw;
  width:fit-content;
  justify-content: flex-start;
}
.group0 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width:fit-content;
}

.group1, .group6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.group2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

.group3, .group7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
}

.group5 {
  background-color: #cec3a6;
  display: flex;
  flex-direction: column;
 
}

.group8, .group9 {
  display: flex;
}

.group10 {
  display: flex;
  flex-direction: row;
 
}

.group11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
}

.group12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px; 
  min-width:600px;
  max-width: calc(65% - 10px);
}

.group13{
  display: flex;
  flex-direction: column;
}

.group14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:fit-content;
  gap: 10px; 
  
}

/* Items */
.item, .item_detail {
  background-color: #ccb37e;
  padding: 20px;
  box-sizing: border-box;
  max-height: 250px;
  min-height: 150px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  flex: 0 1 calc(20% - 10px); 
  min-width: calc(20% - 10px);
}

.item_detail {
  flex: 0 1 calc(20% - 10px); 
  max-width: calc(20% - 10px); 
  min-width: 170px;
}

/* Paragraphs */
p {
  font-family: Helvetica;
  font-size: 14px;
  color: #000;
}

/* Lista */
.nad_lista, .lista {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #20150f;
}

.lista {
  border: 2px solid black; 
  justify-content: flex-start;
  height: 40px;
  align-items: center;
}

/* Links */
a:link {
  color: white;
}

a:visited {
  color: seashell;
}

a:hover {
  color: yellow;
}
