/* Značení zap/vyp 
* {
  border-style: solid;
  margin: 1px;
  box-sizing: border-box; 
}*/

/* Global*/
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  min-width: 97vw;
}
.nadpis {
  font-family: Helvetica;
  font-weight: lighter;
  color: #713875;
}

/*button js*/
.student-work-button {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px 20px;
background-color: #d3a556;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
z-index: 1000; /* navrchu nad vsim */
}


/* Form */
.hledani {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  min-width: 40vw;
}

.hledani2 {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
}


form {
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  
}

input {
  min-width: 150px;
  font-size: 20px;
  
}

.tlacitko {
  background-color: #ccb37e;
  font-family: 'Lucida Grande';
  font-weight: bolder;
  color: #20150f;
  font-size: 26px;
  min-width: 50px;
}

/* Images */
img {
  width: auto;
  object-fit: cover; 
  max-height: 370px;
  border: 2px solid black;
}

.img2 {
  border: 0;
  border-radius: 4px;
  padding: 5px;
  max-width: 20vw;
  height: 25vh;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
  max-height: 100px;
}

.img3 {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Containers */
.gr0 {
  display: flex;
  flex-direction: column;
  min-width: 97vw;
  width:fit-content;
  justify-content: flex-start;
}

.gr1 {
  background-color: #cec3a6;
  display: flex;
  flex-direction: column;
 }

.gr2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width:fit-content;
}


.gr3 {
  display: flex;
  flex-direction: row;
}

.gr4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gr5 {
  display: flex;
}
.gr6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
.gr7 {
  display: flex;
  flex-direction: column;
}


.gr8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
}

.gr9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.gr10{
  display: flex;
  flex-direction: column;
  width:min-content
}

.gr11 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:fit-content;
}

.gr12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gr13{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:fit-content;
  gap: 10px; 

}

.gr14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px; 
  min-width:640px;
  max-width: calc(65% - 10px);
}
.gr15 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; 

}


/* Items */
.item, .item_detail {
  background-color: #ccb37e;
  padding: 20px;
  box-sizing: border-box;
  max-height: 300px;
  min-height:247px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid black;
}

.item {
   
 width: calc(20% - 10px);
}

.item_detail {
  
  max-width: 170px; 
  min-width: 200px;
  
}

/* Paragraphs */
p {
  font-family: Helvetica;
  font-size: 14px;
  color: #000;
}

/* Lista */
.nad_lista, .lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: #20150f;
}

.lista {
  border: 2px solid black; 
  height: 40px;
  align-items: center;
}

/* Links */
a:link {
  color: white;
}

a:visited {
  color: seashell;
}

a:hover {
  color: yellow;
}
