<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domovská stránka</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gr0">
        <div class="lista">
            <a class='link' href="/oprojektu">O PROJEKTU</a>
            <div style="width:10px;"></div>
            <a class='link' href="/vyhledani">VYHLEDAVANI</a>
        </div>
        <div class="gr1">
            <img style="width:100%;" src="{{ url_for('static', filename='images/horni_lista.jpg') }}" alt="">
        </div>
        <div class="gr2">
            <div class="gr3">
                <div class="gr4">
                    <img class="img" src="{{ url_for('static', filename='images/home_left.png') }}" alt="">
                </div>
                <div class="gr5"></div>
            </div>
            <div class="gr6">
                <div class="gr7">
                    <div class="gr8"></div>
                    <div class="gr15">
                        <form action="/vyhledani" method="GET">
                            <input class='input' type='text' name="hledany_vyraz" placeholder='jméno desky nebo autora'>
                            <input type="submit" class="tlacitko" value="HLEDEJ">
                        </form>
                    </div>
                </div>
                <div class="gr9">
                    <div style="width:10px;"></div>
                    <div class="gr10">
                        <p>NOVINKY:</p><br>
                        <div class="gr14">
                            {% for radek in tabulka4 %}
                            <div class="item_detail">
                                <a href="{{ radek.link }}">
                                    <img class="img2" src="{{ radek.hlavni_obrazek }}" alt="{{ radek.hlavni_obrazek }}">
                                </a><br>
                                {% if radek.nazev | length > 25 %}
                                    {{ radek.nazev[:25] }}...<br>
                                {% else %}
                                    {{ radek.nazev }}<br>
                                {% endif %}
                                {% if radek.autor | length > 25 %}
                                    {{ radek.autor[:25] }}...<br>
                                {% else %}
                                    {{ radek.autor }}<br>
                                {% endif %}
                                {{ radek.cena }}<br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="width:10px;"></div>
                    <div>
                        <div class="gr11">
                            <p>NEJHLEDANĚJŠÍ:</p><br>
                            {% if tabulka5 %}
                            <div class="item_detail">
                                <a href="{{ tabulka5.link }}">
                                    <img class="img2" src="{{ tabulka5.hlavni_obrazek }}" alt="{{ tabulka5.hlavni_obrazek }}">
                                </a><br>
                                {% if tabulka5.nazev | length > 25 %}
                                    {{ tabulka5.nazev[:25] }}...<br>
                                {% else %}
                                    {{ tabulka5.nazev }}<br>
                                {% endif %}
                                {% if tabulka5.autor | length > 25 %}
                                    {{ tabulka5.autor[:25] }}...<br>
                                {% else %}
                                    {{ tabulka5.autor }}<br>
                                {% endif %}
                                {{ tabulka5.cena }}<br>
                            </div>
                            {% else %}
                            <div class="item_detail">
                                <a href="{{ tabulka4[0].link }}">
                                    <img class="img2" src="{{ tabulka4[0].hlavni_obrazek }}" alt="{{ tabulka4[0].hlavni_obrazek }}">
                                </a><br>
                                {% if tabulka4[0].nazev | length > 25 %}
                                    {{ tabulka4[0].nazev[:25] }}...<br>
                                {% else %}
                                    {{ tabulka4[0].nazev }}<br>
                                {% endif %}
                                {% if tabulka4[0].autor | length > 25 %}
                                    {{ tabulka4[0].autor[:25] }}...<br>
                                {% else %}
                                    {{ tabulka4[0].autor }}<br>
                                {% endif %}
                                {{ tabulka4[0].cena }}<br>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="student-work-button" onclick="showMessage()">"Tohle je pouze STUDIJNÍ PROJEKT, na stránkách se pracuje, pokračuj kliknutím"</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

