<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oprojektu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
</head>
<body>
    <body style="border-color: red;">
        <div style="border-color: rgba(255, 183, 0, 0.793);" class="cont">
            <div style="border-color: rgba(57, 34, 5, 0.858);"class="group15">
                <div style="border-color: rgba(57, 34, 5, 0.858);" class="lista">
                    <a class='link' href="/">HOME</a> <div style= "width:10px;"></div>
                    <a class='link' href="/oprojektu">O PROJEKTU</a>
                </div>
            </div>
            <div style="border-color: rgba(0, 51, 255, 0.858);" class="group5">
                <img style="width:100%;" src="/static/images/horni_lista.jpg" alt="">
            </div>
            <br>
            <a href="/">home</a>
            <nadpis>O projektu</nadpis>
            <p>Projekt vznikl pouze pro studijní účely </p>
            <p>Kontakt: </p>
        </div>
    </div>
</body>
</html>
